body {
    font-size: 20px;
    background-color:lightblue;
    color: white;
    font-family: Tahoma;
    display: block;
}

div.main {
    margin: 0px;
    display: block;
    width: 900px;
    height: 1200px;
    background-color: rgb(144, 213, 236);
    margin-right: auto;
    margin-left: auto;
}

img.main {
    padding-top: 0px;
    width: 100%;
}

h1 {
    font-family: Papyrus;
    font-size: 70px;
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
}

p {
    text-align: center;
    font-family: Papyrus;
    font-size: 25px;
}

div.option {
    color:white;
}

p#option1 {
    float: left;
    padding-left: 90px;
}
p#option2 {
    float: left;
    padding-left: 140px;
}

p#option3 {
    float: right;
    padding-right: 175px;
}

p#option4 {
    float: right;
    padding-right: 90px;
}
